
<p id="notice"><%= notice %></p>
 
<p>
  <b>Nombre:</b>
  <%= @post.name %>
</p>
 
<p>
  <b>Título:</b>
  <%= @post.title %>
</p>
 
<p>
  <b>Contenido:</b>
  <%= @post.content %>
</p>
 
<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Añade un comentario:</h2>
<%= render "comments/form" %>
 
<br />

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Volver al listado de Posts', posts_path %> |

